# Snowflake
SNOWFLAKE_ACCOUNT=HAVPNFN-LD77838
SNOWFLAKE_USER=AUSTIN
SNOWFLAKE_PASSWORD=ZYHTW6dqgu5nqJM
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_DATABASE=DEMO
SNOWFLAKE_SCHEMA=ANALYTICS
SNOWFLAKE_WAREHOUSE=COMPUTE_WH

# # Databricks
# DATABRICKS_HOST=adb-xxxxxxxx.xx.azuredatabricks.net
# DATABRICKS_HTTP_PATH=/sql/1.0/endpoints/xxxxxxxx
# DATABRICKS_TOKEN=your_token

# # Redshift
# REDSHIFT_HOST=your-cluster.xxxxxx.region.redshift.amazonaws.com
# REDSHIFT_USER=your_user
# REDSHIFT_PASSWORD=your_password
# REDSHIFT_DATABASE=dev
